:root{
    --cor-de-fundo:#ac0f99;
    --roxo:#b734d8;
    --botao-ativo:#8750c7;
    --botao-inativo:#1d0527;
    --texto-fundo:#030303;
    }
    body{
        background-color: var(--cor-de-fundo);
        color: var(--texto-fundo);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    .titulo-principal{
        text-align: center;
        width: 100%;
        font-size: 32px;
    }