:root{
    --cor-de-fundo:#030003;
    --roxo:#080808;
    --botao-ativo:#50c7b3;
    --botao-inativo:#3bcae4d0;
    --texto-fundo:#28d6ce;
    }
    body{
        background-color: var(--cor-de-fundo);
        color: var(--texto-fundo);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    .conteudo-principal{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
    .titulo-principal{
        text-align: center;
        width: 100%;
        font-size: 32px;
    }
    .botao{
        font-family: Georgia, 'Times New Roman', Times, serif;
        background-color: var(--botao-inativo);
        color: var(--roxo);
        display: flex;
        justify-content: center;
        padding: 1 em;
        font-size: 18px;
        align-items: center;
        width: 100%;
        border-bottom: 4px solid var(--botao-ativo);
        border-left: 2px solid var(--botao-ativo);
        border-right: 2px solid var(--botao-ativo);
        border-top: none;
    }
    .botao:first-child{
        border-radius: 40px 40px 0 0;
    }
    .botoes{
        display: block;
    }
    .ativo{
        background-color: var(--botao-ativo);
        border-bottom: 4px solid var(--roxo);
    }
    @media  and(min-width: 768px) {
        .botoes{
            display: flex;
        }
        .botao:first-child{
            border-radius: 40px 0 0 0;
        }
        .botao:last-child{
            border-radius: 0 40px 0 0;
        }
    }